@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
a {
  font-weight: 400;
  color: #fff !important;
  text-decoration: inherit;
  padding: 6px;
  font-size: 17px !important;
}
.css-1y3seza-MuiButtonBase-root-MuiButton-root a {
  color: #000000 !important;
}
body {
  /* background-color: #0f0f0f !important; */
  background-color: #000000 !important;
  display: flow-root !important;
}
.css-1y3seza-MuiButtonBase-root-MuiButton-root {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 0 !important;
}
.css-zddlty-MuiButtonBase-root-MuiButton-root {
  background-color: #0f0f0f !important;
  border-radius: 0 !important;
  padding: 0 !important;
}
.css-zddlty-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 17px !important;
}
/* Navber Drawer */
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #0f0f0f !important;
  color: #ffffff !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper a {
  color: #ffffff !important;
  text-align: center !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #ffffff !important;
  color: #000000 !important;
}
.css-rodq1-MuiStack-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 7% !important;
  align-items: center !important;
}
.css-1sjizby-MuiGrid-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between !important;
}
.css-15pxxm-MuiTypography-root {
  width: 280px !important;
  margin: auto !important;
  align-content: center !important;
  justify-content: space-between !important;
}
.css-1ikci3j-MuiGrid-root {
  display: flex !important;
  grid-gap: 18px !important;
}
.css-k008qs {
  align-items: baseline !important;
}
